// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
 
/ {
	io_rst: io_rst {
		compatible = "output";
                /* using built-in LED pin for demonstration */
		gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
	};
	rly1_en: rly1_en {
		compatible = "output";
                /* using built-in LED pin for demonstration */
		gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	};
	spi1_cs1: spi1_cs1 {
		compatible = "output";
                /* using built-in LED pin for demonstration */
		gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
	};
	spi1_cs2: spi1_cs2 {
		compatible = "output";
                /* using built-in LED pin for demonstration */
		gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
	};

	estop: estop {
		compatible = "output";
                /* using built-in LED pin for demonstration */
		gpios = <&gpio0 27 GPIO_PUSH_PULL>;
	};
};
